.page-header
  %h1
    = @course.title

.form-actions
  = link_to "Criterios de calificacion" , admin_course_rate_types_path(@course) , class: 'btn btn-primary'
  = link_to "Editar", edit_admin_course_path(@course), :class => 'btn'
  = link_to "Borrar", admin_course_path(@course), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
%p
  %strong= 'Imagen:'
  %br
  = image_tag @course.asset.url, width: "300px"
%p
  %strong Nombre:
  %br
  = @course.title
%p
  %strong Descripcion:
  %br
  = @course.description
%p
  %strong Empieza En:
  %br
  = @course.starts_at
%p
  %strong Termina En:
  %br
  = @course.ends_at

.form-actions
  = link_to "Volver", admin_courses_path, :class => 'btn'
