.page-header
  .span3
    .span9
      = image_tag @course.asset.url, width:"300px"
    %br/  
    .span9  
      %br/  
      %br/  
      - if !signed_in? 
        %p= link_to "Registrate y participa", new_course_presentations_path(@course), class: 'btn btn-primary'
      - elsif  !current_user.has_presentation_for?(@course)
        %p= link_to "Presentar", new_course_presentations_path(@course), class: 'btn btn-primary'
      - else
        %p Ya participaste.
  .span9  
    %h1= @course.title
    %p
      %strong Descripción:
      %br
      = @course.description
    %p
      %strong Reglas:
      %br
      = @course.rules

